<div class="box box-solid">
  <div class="box-header">
    <h4 class="box-title">New account</h2>
  </div>
  <div class="box-body">

<%= render "form.html", changeset: @changeset,
                        action: account_path(@conn, :create) %>

<%= link "Back", to: account_path(@conn, :index) %>
